<div class="container">

    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="cita_id" class="col-form-label col-sm-2">ID Cita</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="cita_id" [(ngModel)]="cita_id" #idcita="ngModel">
                    <div *ngIf="idcita?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="valoracionEspecialista" class="col-form-label col-sm-2">Valoracion Especialista</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="valoracionEspecialista" [(ngModel)]="diagnostico.valoracionEspecialista" #valoracionEspecialista="ngModel">
                    <div *ngIf="valoracionEspecialista?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="enfermedad" class="col-form-label col-sm-2">Enfermedad</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="enfermedad" [(ngModel)]="diagnostico.enfermedad" #enfermedad="ngModel">
                    <div *ngIf="enfermedad?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <button class="btn btn-outline-success" role="button" (click)='addDiagnosticoToCita()'>Guardar Diagnostico</button>
        </form>
    </div>
</div>