<div class="container">

    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="pacienteId" class="col-form-label col-sm-2">ID Paciente</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="motivoCita" [(ngModel)]="paciente_id" #idpaciente="ngModel">
                    <div *ngIf="idpaciente?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="fechaHora" class="col-form-label col-sm-2">Fecha y Hora</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="fechaHora" [(ngModel)]="cita.fechaHora" #fechaHora="ngModel">
                    <div *ngIf="fechaHora?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="motivoCita" class="col-form-label col-sm-2">Motivo Cita</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="motivoCita" [(ngModel)]="cita.motivoCita" #motivoCita="ngModel">
                    <div *ngIf="motivoCita?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <button class="btn btn-outline-success" role="button" (click)='addCita()'>Guardar Cita</button>
        </form>
    </div>
</div>