<div class="container">
<h1>{{titulo}}</h1>

<button class="btn btn-info" type="button" [routerLink] = "['/diagnosticos/form']">Nuevo Diagnostico</button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ValoracionEspecialista</th>
      <th scope="col">Enfermedad</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let diagnostico of diagnosticos">
      <th scope="row">{{diagnostico.diagnostico_id}}</th>
      <td>{{diagnostico.valoracionEspecialista}}</td>
      <td>{{diagnostico.enfermedad}}</td>
      <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/diagnosticos/form',diagnostico.diagnostico_id]">Editar</button></td>
      <td><button class="btn btn-danger" (click)="delete(diagnostico)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
</div>