<div class="container">

    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <form>
            <div class="form-group row">
                <label for="Nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="Nombre" [(ngModel)]="paciente.nombre" #nombre="ngModel">
                    <div *ngIf="nombre?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Apellidos" class="col-form-label col-sm-2">Apellidos</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="Apellidos" [(ngModel)]="paciente.apellidos" #apellidos="ngModel">
                    <div *ngIf="apellidos?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Usuario" class="col-form-label col-sm-2">Usuario</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="Usuario" [(ngModel)]="paciente.usuario" #usuario="ngModel">
                    <div *ngIf="usuario?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Clave" class="col-form-label col-sm-2">Clave</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="Clave" [(ngModel)]="paciente.clave" #clave="ngModel">
                    <div *ngIf="clave?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="NSS" class="col-form-label col-sm-2">NSS</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="NSS" [(ngModel)]="paciente.nss" #nss="ngModel">
                    <div *ngIf="nss?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Telefono" class="col-form-label col-sm-2">Telefono</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="Telefono" [(ngModel)]="paciente.telefono" #telefono="ngModel">
                    <div *ngIf="telefono?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Direccion" class="col-form-label col-sm-2">Direccion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" required name="Direccion" [(ngModel)]="paciente.direccion" #direccion="ngModel">
                    <div *ngIf="direccion?.errors?.required">
                        Campo necesario
                      </div>
                </div>
            </div>
            <button class="btn btn-outline-success" role="button" (click)='create()' *ngIf="!paciente.id else elseBlock">Guardar</button>
            <ng-template #elseBlock>
                <button class="btn btn-outline-success" role="button" (click)='update()'>Actualizar</button>
            </ng-template>
        </form>
    </div>
</div>